<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__left">
                <a class="header__logo" href="./">
                    <svg class="header__logo-icon">
                        <use href="#icon-logo"></use>
                    </svg>
                    Bookshelf
                </a>
            </div>
            <div class="header__right">
                <button class="header__switcher">
                    <span class="header__switcher-circle"></span>
                </button>
                <button class="header__burger">
                    <svg class="header__burger-icon">
                        <use href="#icon-burger"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>

<div class="mobile-menu">
    <div class="container">
        <div class="mobile-menu__block">
            <button class="auth">
                <span class="auth__text">Sign up</span>
                <svg class="auth__icon">
                    <use href="#icon-arrow-right"></use>
                </svg>
            </button>
            <div class="mobile-menu__wrapper">
                <ul class="menu">
                    <li class="menu__item active">
                        <a class="menu__link" href="#"> Home </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Shopping list
                            <svg class="menu__link-icon">
                                <use href="#icon-cart"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
